<div class="header">
<a class="back-btn-a" href="/">
  <img class="back-btn" src="<%= asset_path('arrow_back.ico') %>" alt="Back" id="back-img">
</a>
  <h2>Sign up</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-container" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "input-field" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input-field" %>
  </div>

  <div class="field">
    
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password", class: "input-field" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Password confirmation", class: "input-field" %>
  </div>

  <div class="form-btn-container">
    <%= f.submit "Sign up", class: "form-btn" %>
  </div>
<% end %>